<nav>
  <h1>Fees Management</h1>
</nav>
<div class="details">
  <div class="items">
  <h4>ID</h4>
  <input type="text">
  <h4>NAME</h4>
  <input type="text">
  <h4>FEES</h4>
  <input type="text">
  </div>
  <br>
  <button class="btn1" onclick="submit">Save</button>
  <button class="btn1" onclick="submit">Update</button>
  <button class="btn1" onclick="submit">Delete</button>
  <button class="btn1" onclick="submit">Find</button>
  <button class="btn1" onclick="submit">FindAll</button>
</div>
<div class="details1">
  <h4>Student Details</h4>
  <hr>  
</div>
<!-- <table width="80%" align="center">
  <tr>
  <td><a routerLink="home">Home</a></td>
  <td><a routerLink="contact">Contact</a></td>
  <td><a routerlink="about">About</a></td>
  </tr>
  </table>
  <div>
  This is the space for New Component.
  <router-outlet></router-outlet>
  </div> -->